.rating {
    max-width: 1026px;
    margin: 144px auto 0 auto;
    background: #fff;
    padding: 32px;
    border-radius: 40px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.rating__title {
    font-family: 'Roboto', sans-serif;
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    color: #373745;
}

table {
    width: 100%;
}

.table__row {
    box-shadow: inset 0 -1px 0 #EEEFF5;
}

.table__cell {
    text-align: left;
    padding: 12px 8px;
    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


th.table__cell {
    font-weight: 500;
}

.wins {
    color: #69B849;
}

.loses {
    color: #E93E3E;;
}

.rating__fio {
    width: 424px;
}

@media (max-width: 760px) {
    .rating__title {
        font-size: 20px;
        line-height: 24px;
    }

    .rating {
        margin-top: 80px;
        border-radius: 0;
        width: 100%;
        padding: 12px;
        box-shadow: none;
        overflow: hidden;
    }

    .table__cell {
        font-size: 14px;
        line-height: 20px;
    }

    .rating__fio {
        width: 160px;
    }

    .wrapper {
        overflow: auto;
    }
}
