.container {
    display: flex;
    gap: 8px;
}

.input-hidden {
    display: none;
}

.gender-img {
    width: 32px;
    height: 32px;
}

.label {
    background: #fff;
    border: 1px solid #DCDCDF;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    transition: 500ms all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label:hover {
    border-color: #60C2AA;
}

.input-hidden:checked + .label {
    border: none;
    background: #60C2AA;
}




