.toggle {
    display: flex;
    align-items: center;
    gap: 11px;
}

.toggle__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}


.toggle__label {
    background: #DCDCDF;
    cursor: pointer;
    display: block;
    width: 33px;
    height: 14px;
    border-radius: 100px;
    position: relative;
}

.toggle__label::after {
    content: '';
    position: absolute;
    top: calc(-50% + 4px);
    left: -3px;
    width: 20px;
    height: 20px;
    background: #F7F7F7;
    border: 1px solid #DCDCDF;
    border-radius: 100%;
    transition: 0.3s;
}

.toggle__input:checked + .toggle__label {
    background: #60C2AA;
}

.toggle__input:checked + .toggle__label::after {
    background: #3BA189;
    border: none;
    left: calc(100% + 3px);
    transform: translateX(-100%);
}

.toggle__input {
    height: 0;
    width: 0;
    visibility: hidden;
}

@media (max-width: 760px) {
    .toggle {
        align-self: flex-end;
    }

    .toggle__text {
        font-size: 14px;
        line-height: 20px;
    }
}