.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    width: 400px;
    border-radius: 12px;
    background: #fff;
    padding: 40px 24px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.form__img {
    text-align: center;
    margin: 0 0 20px 0;
}

.img {
    width: 132px;
    height: 132px;
}

.form__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 150%;
    margin: 0 0 20px 0;
    color: #373745;
}

.form__body {
    margin-bottom: 20px;
}

.input__group {
    margin-bottom: 12px;
}


.error-message {
    color: #E93E3E;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 512px) {
    .form {
        width: 350px;
        box-shadow: none;
    }

    .wrapper {
        background: #fff;
    }
}



