.active-players {
    max-width: 781px;
    margin: 144px auto;
    background: #fff;
    padding: 32px;
    border-radius: 40px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.table__row {
    display: flex;
    align-items: center;
}

.table__cell {
    padding: 12px 0;
}

.table__cell:last-child {
    margin-left: auto;
}

.player__fio {
    width: 360px;
    margin-right: 16px;
}

@media (max-width: 760px) {
    .active-players {
        margin-top: 80px;
        border-radius: 0;
        padding: 12px;
        box-shadow: none;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
    }
    .head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
    }

    .player__fio {
        width: 160px;
        margin: 0;
    }

    .table__cell:last-child {
        margin: 0;
    }

    .table__row {
        justify-content: space-between;
    }

    .table__cell {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 400px) {
    .player__fio {
        width: 100px;
    }
}