.block-status {
    border-radius: 6px;
    padding: 4px 12px;
    text-align: center;
    width: 136px;

    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
}

.block-status.block {
    background: #EC7777;
}

.block-status.free {
    background: #A8D37F;
}

@media (max-width: 760px) {
    .block-status {
        font-size: 12px;
        line-height: 16px;
        padding: 4px;
        width: 96px;
    }
}