.status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #fff;
    border-radius: 6px;
    padding: 4px 12px;
    width: 100px;
    text-align: center;
}

.free {
    background: #A8D37F;
}

.busy {
    background: #87CAE8;
}

@media (max-width: 760px) {
    .status {
        font-size: 12px;
        width: 65px;
        padding: 4px;
        line-height: 16px;
    }
}