.modal-wpapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 35, 34, 0.8);
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    position: absolute;
    min-width: 400px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    text-align: center;
}

.modal h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.modal img {
    width: 132px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
}

@media (max-width: 478px) {
    .modal h3 {
        font-size: 20px;
        line-height: 24px;
    }  
    
    .modal {
        min-width: 90%;
        width: 90%;
    }
}