.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 40px;
    gap: 20px;

    width: 400px;
    background: #fff;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.modal__header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.modal__form {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 40px;
}

.label {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

.close-btn-wrapper {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    align-items: center;
    justify-content: end;
}

@media (max-width: 478px) {
    .modal h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .modal {
        min-width: 90%;
        width: 90%;
    }
}