.btn-block {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.24px;
    color: #373745;
    background: #F7F7F7;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background .3s linear;
    cursor: pointer;
}

.img {
    fill: #373745;
}

.btn-block:hover {
    background: #DCDCDF;
}

@media (max-width: 760px) {
    .btn-block {
        font-size: 14px;
        line-height: 20px;
    }
}