.btn-submit {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
    font-weight: 500;
    background: #60C2AA;
    color: #fff;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: -webkit-fill-available;
    width: -moz-available;
    transition: background .2s linear;
}

.btn-submit.disabled {
    opacity: .3;
}

.btn-submit:hover {
    background: #3BA189;
}