.btn {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #60C2AA;
    font-family: 'Roboto';
    border: none;
    border-radius: 12px;
    line-height: 24px;
    cursor: pointer;
}

.btn.active {
    background: #60C2AA;
    transition: background .2s linear;
}

.btn.active:hover {
    background: #3BA189;
}

.btn.disabled {
    background: #F7F7F7;
    color: #373745;
    opacity: .3;
}

@media (max-width: 760px) {
    .btn {
        font-size: 14px;
        padding: 8px 16px;
        line-height: 20px;
    }
}