.btn {
    padding: 12px 20px;
    width: 100%;
    background: #F7F7F7;
    border-radius: 12px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.24px;
    color: #373745;

    transition: background .3s linear;
}

.btn:hover {
    background: #DCDCDF;
}