.history {
    margin: 144px auto 0 auto;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    width: 1074px;
    padding: 32px;
    background: #fff;
}

.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin-bottom: 24px;
}

.table {
    width: 100%;
}

.table__row {
    box-shadow: inset 0px -1px 0px #eeeff5;
}

.table__cell {
    padding: 20px 12px 12px 12px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}


th.table__cell {
    font-weight: 700;
    padding: 8px;
}

.players__container {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 678px;
}

.player__one, .player__two {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 214px;
}

.ceil__bold {
    font-weight: 700;
}

.player__icon {
    width: 16px;
    height: 16px;
}

.cup__icon {
    width: 24px;
    height: 24px;
}


@media (max-width: 760px) {
    .history {
        margin-top: 80px;
        border-radius: 0;
        padding: 12px;
        box-shadow: none;
        width: 100%;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
    }

    .table__cell {
        font-size: 14px;
        line-height: 20px;
        padding: 8px;
    }

    .players__container .ceil__bold {
        display: none;
    }

    .players__container {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
        width: 200px;
    }
}

