.main-container {
    margin-top: 64px;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/*subject*/


.subject-list {
    padding: 24px;
    width: 500px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 20px;
}

.subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-up {
    display: none;
}

.arrow-down {
    display: none;
}


.subjects {
    margin-top: 24px;
}

.subject-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.subject-container:first-child {
    margin: 0 0 20px 0;
}

.subject-list .subject-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;
    margin: 0 0 4px 0;
}

.subject-list .subject-percent {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

.subject-list .subject-icon {
    width: 24px;
    height: 24px;
}



/*game-field*/

.game-container {
    width: 663px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.game-time {
    width: fit-content;
    padding: 24px;
    background: #ededed;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #373745;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(3, 220px);
    gap: 4px;
    filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

.game-board .cell {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board .cell:hover {
    border: 1px solid #60C2AA;
}

.game-board .cell.x {
    background: #CFEDE6;
}
.game-board .cell.zero {
    background: #F3BBD0;
}

.game-board img {
    width: 100%;
    height: 100%;
    padding: 12px;
}


.game-step {
    width: 400px;
    padding: 12px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    background: #373745;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #fff;
}

.game-step img {
    width: 24px;
    height: 24px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 0px;
    gap: 10px;
    margin-bottom: 88px;
    width: 412px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    max-height: 800px;
    color: #373745;
    position: relative;
}




/*message*/

.msgs-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
    overflow: auto;
    mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    --top-mask-size: 0px;
    --bottom-mask-size: 0px;
}

.msgs-container::-webkit-scrollbar {
    width: 5px;
}

.msgs-container::-webkit-scrollbar-track-piece {
    background-color: #E5E5E5;
}

.msgs-container::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 3px;
}

.msgs-container.isTopOverflowing {
    --top-mask-size: 15px !important;
}

.msgs-container.isBottomOverflowing {
    --bottom-mask-size: 15px !important;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    max-width: 352px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
}

.msg-container:first-child {
    margin-top: 10px;
}

.msg-container:last-child {
    margin-bottom: 10px;
}

.msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
}

.msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
}

.msg-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.subject-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.subject-name.x {
    color: #60C2AA;
}
.subject-name.zero {
    color: #E38BAC;
}

.msg-header .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
}

.msg-interactive-elements {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 12px;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.button-msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 48px;
    height: 48px;
    background: #60C2AA;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background .3s linear;
}

.button-msg:hover {
    background: #3BA189;
}

.btn__img {
    display: block;
}

.msg-body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

@media (max-width: 1680px) {
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .msg-interactive-elements {
        order: -1;
    }

    .chat-container {
        align-self: center;
    }

    .game-container {
        gap: 24px;
    }
}


@media (max-width: 760px) {
    .msgs-container {
        flex-direction: column-reverse;
    }

    .msgs-container::-webkit-scrollbar-track-piece {
        background-color: #fff;
    }

    .msgs-container::-webkit-scrollbar-thumb {
        background-color: #E5E5E5;
        border-radius: 3px;
    }

    .subjects {
        margin-top: 20px;
        display: none;
    }

    .subjects.active {
        display: block;
    }

    .main-container {
        padding: 0 12px;
    }

    .game-board {
        grid-template-columns: repeat(3, calc(33.333333% - 4px));
        grid-template-rows: repeat(3, calc(33.333333% - 4px));
        width: 100%;
        aspect-ratio: 1/1;
    }

    .subject-list {
        width: 100%;
        padding: 16px;
        position: relative;
    }

    .header-container {
        position: relative;
        z-index: 8;
    }

    .subject-list .subject-name {
        font-size: 14px;
        line-height: 20px;
    }

    .subject-list .subject-percent {
        font-size: 12px;
    }

    .subject-list h1 {
        font-size: 16px;
    }

    .subject-list .subject-icon {
        width: 18px;
        height: 18px;
    }

    .game-time {
        font-size: 20px;
        line-height: 24px;
        padding: 12px;
    }

    .chat-container {
        align-self: center;
        width: 100%;
    }

    .game-step {
        order: 2; 
        font-size: 14px;
        line-height: 20px;  
        width: 100%; 
    }

    .game-step img {
        width: 20px;
        height: 20px;
    }

    .game-board {
        order: 3
    }

    .game-container {
        width: 100%;
    }

    .arrow-up, .arrow-down {
        display: block;
        transition: all .2s linear;
    }

    .arrow-down {
        transform: rotateX(180deg);
    }
}
