header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 16px 40px;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: -webkit-fill-available;
    width: -moz-available;
}

.delete-shadow {
    box-shadow: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.logo {
    cursor: pointer;
    flex-basis: 1/3;
}

.nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    position: relative;
    z-index: 9;
}

.nav__link.active {
    background: #60C2AA;
    color: #fff;
    padding: 4px 12px;
    border-radius: 200px;
}

.header__btn {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 9;
}

.hamburger {
    display: none;
}

.hamburger img {
    width: 100%;
    height: 100%;
}

.logout-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: none;
}

.drop-down-nav {
    display: none;
}


@media (max-width: 1000px) {
    .nav, .header__btn {
        display: none;
    }

    .drop-down-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100vh;
        background: rgba(32, 35, 34, 0.8);
        top: -150%;
    }

    .drop-down-wrapper.active {
        top: 0;
    }

    .drop-down-nav {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 80px 20px 40px;
        align-items: flex-start;
        background: #fff;
        width: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        transition: top .4s linear;
    }

    .drop-down-nav.active {
        top: 0;
    }

    .drop-down-nav > .nav, 
    .drop-down-nav > .header__btn {
        display: flex;
    }

    .drop-down-nav > .nav {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .drop-down-nav > .header__btn {
        align-items: center;
        gap: 8px;
    }

    .nav__link {
        font-size: 20px;
        line-height: 24px;
    }

    .nav__link.active {
        background: none;
        color: #000;
        padding: 0;
        border-radius: 0;
    }

    header {
        padding: 16px 20px;
    }

    .hamburger {
        display: block;
    }

    .logout-text {
        display: block;
    }
}