.players__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.players {
    max-width: 1416px;
    margin: 144px auto;
    background: #fff;
    padding: 32px;
    border-radius: 40px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
}

.title {
    color: #373745;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}


.table__row {
    box-shadow: inset 0px -1px 0px #eeeff5;
}

.table__ceil {
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;

    padding: 12px;
}

th.table__ceil {
    font-weight: 500;
}

.ceil__fio {
    width: 440px;
}

.ceil__block {
    display: flex;
    justify-content: center;
}

@media (max-width: 760px) {
    .players {
        margin-top: 80px;
        border-radius: 0;
        padding: 12px;
        box-shadow: none;
        overflow: hidden;
    }

    .players__header {
        overflow: hidden;
    }

    .title {
        font-size: 20px;
        line-height: 24px;
    }

    .table__ceil {
        font-size: 14px;
        line-height: 20px;
    }

    .wrapper {
        overflow: auto;
        width: 366px;
    }
}
