.form__input {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #DCDCDF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #373745;
    letter-spacing: 0.24px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: -webkit-fill-available;
    width: -moz-available;
}

.form__input:hover {
    border: 1px solid #60C2AA;
}

.form__input.invalid {
    border: 1px solid #E93E3E;
}

.form__input:focus {
    border: 1px solid #60C2AA;
}