.textarea {
    resize: none;
    font-family: 'Roboto';
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background: #fff;
    border: 1px solid #dcdcdf;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
    outline: none;
}

.textarea:hover {
    border-color: #60C2AA;
}

.textarea:focus {
    border-color: #60C2AA;
}