*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #E5E5E5;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: -webkit-fill-available;
  height: -moz-available;
}

@media (max-width: 786px) {
  body {
    background: #fff;
  }
}

